* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}


.modal-google {
  display: none;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  position: fixed;
  background: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5555;
}

.modal-google.mostrar {
  display: flex
}

.modal-google .modal-container {
  margin-top: 15px;
  width: 600px;
  /* max-height: 650px; */
  overflow: hidden;
  padding: 40px;
  background: #fff;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
  animation: showModal .3s forwards
}


@keyframes showModal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}


.modal-container .fecha-modal {
  margin: 0;
  position: absolute;
  width: 60px;
  height: 60px;
  cursor: pointer;
  top: 10px;
  right: 10px;
  border: none;
  color: #000;
  outline: 0;
  z-index: 9999;
  background: none;
  font-weight: bold;
  font-size: 18px;
}

.modal-content .header {
  /* background: red; */
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.modal-content .header button {
  border: none;
  border: 1px solid rgb(81, 9, 250);
  color: rgb(81, 9, 250);
  ;
  font-weight: bold;
  cursor: pointer;
  padding: 15px 25px;
  border-radius: 2px;
  font-size: 11px;
  transition: .3s ease;
  text-transform: uppercase;
  background: rgba(81, 9, 250, .1);
  border-color: rgb(81, 9, 250);
}

.modal-content .header button:hover {
  background: rgb(81, 9, 250);
  ;
  color: #FFF;
}

.modal-content .body {
  /* background: tomato; */
}

.modal-content .body form {
  max-width: 100%;
}

.modal-content .body form label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-content .body form input,
select {
  padding: 15px;
  border: 1px solid #d6d6d6;
  font-weight: bold;
  font-size: 14px;
  border-radius: 2px;
  width: 60%;
  outline: none;
  transition: .3s ease;
}

.modal-content .body form input:focus,
select:focus,
.modal-content .body form input:hover,
select:hover {
  background: rgba(81, 9, 250, .1);
  border-color: rgb(81, 9, 250);
}

input[type="datetime-local"] {
  /* width: 200px !important; */
  width: 100% !important;
}

input[type="text"] {
  width: 100% !important;
}

.modal-content .body .check-notifica {
  /* background: red; */
  display: flex;
  align-items: center;
}

.modal-content .body .check-notifica label {
  background: rgba(81, 9, 250, .1);
  padding: 12px 20px;
  border-radius: 2px;
  border: 1px solid rgb(81, 9, 250);
  color: rgb(81, 9, 250);
  font-size: 12px;
  cursor: pointer;
}

#notificar_lead {
  display: none;
}

#notificar_lead:checked+#teste {
  background: rgb(81, 9, 250);
  ;
  color: #FFF;
}

.modal-content .body .datas-evento {
  display: flex;
  /* background: red; */
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.modal-content .body .datas-evento .data-ini,
.modal-content .body .datas-evento .data-fim {
  flex: 1;
}

.modal-content .footer {
  /* background: red; */
  display: block;
  margin-top: 50px;
  text-align: right;
}

.modal-content .footer button {
  background: rgb(81, 9, 250);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding: 15px 30px;
  border: none;
  border-radius: 2px;
  font-size: 11px;
  text-transform: uppercase;
  transition: .3s ease;
}

.modal-content .footer button:hover {
  transform: translate3d(0, -5px, 0);
  box-shadow: 0 0 10px rgba(81, 9, 250,.3);
}